/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677,#4e085f);
    padding: 10px;
}
.todo-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.todo-app h2 i{
    margin-left: 60%;
}
input{
    font-size: 20px;
    border: none;
    outline: none;
    background: transparent;
    font-weight: 14px;
    width: 55%;
}
form{
    margin-left: 1rem;
    background-color: #edeef0;
    border-radius: 20px;
}
form input{
    padding-left: 10px;
}
form button{
    margin-left: 4.75rem;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
ul li{
    list-style: none;
    font-size: 20px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(circle.jpg);
    background-size: cover;
    background-position: center;
    top: 9px;
    left:8px;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
background-image: url(checked.jpg);
}
ul li span{
    position: absolute;
    right: 0px;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 30px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #edeef0;
}
 */


/* 
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
}

.todo-app {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2 {
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app h2 i {
    margin-left: 60%;
}

input {
    font-size: 20px;
    border: none;
    outline: none;
    background: transparent;
    font-weight: 14px;
    width: 55%;
}

form {
    margin-left: 1rem;
    background-color: #edeef0;
    border-radius: 20px;
}

form input {
    padding-left: 10px;
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

ul li {
    list-style: none;
    font-size: 20px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(circle.jpg);
    background-size: cover;
    background-position: center;
    top: 9px;
    left: 8px;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(checked.jpg);
}

ul li span {
    position: absolute;
    right: 0px;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 30px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    background: #edeef0;
}
@media only screen and (max-width: 440px) {
    input {
                width: 20%;
            }
    form button{
        margin-left: 0%;
    }
}
@media only screen and (max-width: 411px) {
    input {
                width: 20%;
            }
    form button{
        margin-left: 0%;
    }
}
@media only screen and (max-width: 768px) {
            .todo-app {
                width: 90%;
                margin: 50px auto 20px;
                padding: 20px 15px 50px;
            }

            .todo-app h2 i {
                margin-left: auto;
            }

            input {
                width: 40%;
            }

            form {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                margin-left: 0.5rem;
            }

            ul li {
                font-size: 18px;
                padding: 10px 8px 10px 50px;
            }
        } */



        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        .container {
            width: 100%;
            min-height: 100vh;
            background: linear-gradient(135deg, #153677, #4e085f);
            padding: 10px;
        }
        
        .todo-app {
            width: 100%;
            max-width: 540px;
            background: #fff;
            margin: 100px auto 20px;
            padding: 40px 30px 70px;
            border-radius: 10px;
        }
        
        .todo-app h2 {
            color: #002765;
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }
        
        .todo-app h2 i {
            margin-left: 60%;
        }
        
        input {
            font-size: 20px;
            border: none;
            outline: none;
            background: transparent;
            font-weight: 14px;
            width: 55%;
        }
        
        form {
            margin-left: 1rem;
            background-color: #edeef0;
            border-radius: 20px;
        }
        
        form input {
            padding-left: 10px;
        }
        
        button {
            border: none;
            outline: none;
            padding: 16px 50px;
            background: #ff5945;
            color: #fff;
            font-size: 16px;
            cursor: pointer;
            border-radius: 40px;
        }
        
        ul li {
            list-style: none;
            font-size: 20px;
            padding: 12px 8px 12px 50px;
            user-select: none;
            cursor: pointer;
            position: relative;
        }
        
        ul li::before {
            content: '';
            position: absolute;
            height: 28px;
            width: 28px;
            border-radius: 50%;
            background-image: url(circle.jpg);
            background-size: cover;
            background-position: center;
            top: 9px;
            left: 8px;
        }
        
        ul li.checked {
            color: #555;
            text-decoration: line-through;
        }
        
        ul li.checked::before {
            background-image: url(checked.jpg);
        }
        
        ul li span {
            position: absolute;
            right: 0px;
            top: 5px;
            width: 40px;
            height: 40px;
            font-size: 30px;
            color: #555;
            line-height: 40px;
            text-align: center;
            border-radius: 50%;
        }
        
        ul li span:hover {
            background: #edeef0;
        }
        @media only screen and (max-width: 440px) {
            input {
                        width: 20%;
                    }
            form button{
                margin-left: 0%;
            }
        }
        @media only screen and (max-width: 411px) {
            input {
                        width: 20%;
                    }
            form button{
                margin-left: 0%;
            }
        }
        @media only screen and (max-width: 1600px) {
            input {
                        width: 71%;
                    }
            form button{
                margin-left: 0%;
            }
        }
        
        @media only screen and (max-width: 768px) {
                    .todo-app {
                        width: 90%;
                        margin: 50px auto 20px;
                        padding: 20px 15px 50px;
                    }
        
                    .todo-app h2 i {
                        margin-left: auto;
                    }
        
                    input {
                        width: 40%;
                    }
        
                    form {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        align-items: center;
                        margin-left: 0.5rem;
                    }
        
                    ul li {
                        font-size: 18px;
                        padding: 10px 8px 10px 50px;
                    }
                }

